# This file is used to ignore files which are generated
# --------------------------------------------------------------
.cache/
.directory
build/
dll/
images/Screenshot*
*.xcf
CMakeLists.txt.user
*.orig
*.backup
