# This file is used to ignore files which are generated
# --------------------------------------------------------------
.cache/
.directory
.git
build/
CMakeFiles/
precompiled/
CMakeLists.txt.user
CMakeCache.txt
*.orig
*.backup
*.log

