<application
    android:icon="@res/android/res/mipmap/ic_launcher"
    android:label="aQuteCardGame"
    android:theme="@android:style/Theme.DeviceDefault">
    <!-- Your activity and other components go here -->
    <activity
        android:name="org.qtproject.example.aqutecardgame"
        android:label="aQuteCardGame"
        android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale"
        android:launchMode="singleTask"
        android:theme="@android:style/Theme.DeviceDefault">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
</application>
